/*Universal*/

html,
body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    background-color: #f5f5f5;
    overflow-x: hidden;
    scroll-behavior: auto;
}

.paginate {
    padding: 10px;
    margin: 2px;
}

.page-counter {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.display-text {
    font-weight: 500;
    text-shadow: 2px 2px black;
}

.container-fluid {
    padding: 0;
}

.btn-mobile {
    display: none;
}

.col-lg-4 a {
    color: #111111;
    text-decoration: none;
}

/*.fas {*/
/*    color: white;*/
/*}*/

.footer {
    margin: 0!important;
}

/*---------------------------*/

/*home.html*/

#banner-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("../img/banner_img3.jpg");
    background-position: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    max-width: 100%;
}

#banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.cont-homepg:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    border-color: black!important;
}

.img-homepg {
    height: 300px; 
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}

.cont-homepg:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-input {
    width: 80%;
    margin: auto;
}

/*recipes.html*/

/*img hover effect*/

#recipe-card {
    height: 150px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.card-title {
    font-size: 1.8rem;
}

.card {
    width: 100%;
    overflow: hidden;
    position: relative;
    float: left;
    height: 100%;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img {
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    max-width: 100%;
    /*width: 100%;*/
    height: 250px;
}

.card:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    border-color: black!important;
}

/*the_recipes.html*/

.wrapper {
    position: relative;
}

.wrapper img {
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    opacity: 0.9;
}

.wrapper-inner {
    background-color: #DDDDDD;
    opacity: 0.8;
    position: absolute;
    z-index: 10;
    text-align: center;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: 	black;
    font-weight: 800;
    text-shadow: 4px 4px white;
}

 .wrapper-inner h2 {
        font-weight: 200;
}

.recipe-title {
    width: 80%;
    margin: auto;
}

.second-wrapper {
    position: relative;
}

.second-wrapper-inner {
    position: absolute;
    top: 70%;
    left: 80%;
    transform: translate(-70%, -80%);
}

.wrapper-img {
   height: 400px;
}

.icons {
    background-color: rgba(255,255,255, 0.9);
    padding: 15px;
}

.btn-container {
    display: flex;
    justify-content:center;
}

/*add_recipes.html*/

/*search.html*/

.img-search {
    height: 250px;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 1024px) {
    #banner-text {
        width: 80%;
    }
    .lead {
        width: 85%;
        margin: auto;
        font-size: 1.5rem;
    }
    .card-img {
        height: 20vh;
    }
    .recipe-title {
        width: 80%;
        margin: auto;
    }
    .wrapper img {
        height: 50vh;
    }
    .wrapper-inner {
        width: 80%;
    }
    .wrapper-inner h2 {
        font-size: 3rem;
        font-weight: 300;
        text-shadow: 3px 3px white;
    }
    .img-homepg {
        height: 250px;
    }
    .home-input {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    #banner-text {
        width: 100%;
    }
    .card-img {
        height: 22vh;
    }
    .recipe-text {
        font-size: 1rem;
    }
    .btn-desktop {
        display: none;
    }
    .btn-mobile {
        display: block;
    }
    .recipe-col {
        padding-bottom: 15px;
    }
    /*li {*/
    /*    display: none;*/
    /*}*/
    .wrapper-inner {
        text-shadow: 1px 1px white;
    }
    .wrapper-inner h2 {
        font-size: 2rem;
    }
    .wrapper-img {
        width: 100%;
        display: none;
    }
    .second-wrapper {
        position: static;
    }
    .second-wrapper-inner {
        position: static;
        top: none;
        left: none;
        transform: translate(-0%, -0%);
    }
    .img-homepg {
        /*width: 65%;*/
        /*height: 300px;*/
        width: 100%;
        height: auto;
    }
    /*styling for img-homepg / top image*/
    .top {
        margin-bottom: 30px;
    }
     /*styling for img-homepg / bottom image*/
    .bottom {
        margin-top: 30px;
    }
    .p-5 {
        padding: 20px!important;
    }
    .form-control, .btn {
        font-size: 0.75rem;
    }
    .card img {
        height: 260px;
    }
    .input-group-text {
        padding-top: 0;
    }
}

@media only screen and (max-width: 576px) {
    #banner-container {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1527997921830-de1cf1f9b430?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2023&q=80");
    }
    #banner-text {
        width: 90%;
    }
    .display-4 {
        font-size: 3rem;
        padding: 0 20px;
    }
    .lead {
        width: 90%;
        font-size: 1.2rem;
    }
    .card-img {
        height: 42vh;
    }
    .wrapper img {
        height: 40vh;
    }
    .wrapper-inner {
        padding: 15px;
    }
    .wrapper-inner h2 {
        font-size: 1.2rem;
        font-weight: 500;
        text-shadow: 2px 2px white;
    }
}


@media only screen and (max-width: 375px) {
    .display-4 {
        font-size: 2rem;
        text-align: center;
    }
    .card-img {
        height: 40vh;
    }
    .wrapper img {
        height: 55vh;
    }
    .wrapper-inner {
        padding: 20px;
    }
    .wrapper-inner h2 {
        font-size: 1.4rem;
        font-weight: 500;
        text-shadow: 2px 2px white;
    }
}

@media only screen and (max-width: 360px) {
    .card-title {
        font-size: 1.5rem;
    }
}