/*Universal*/

html,
body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    background-color: #f5f5f5;
    overflow-x: hidden;
}

.display-text {
    font-weight: 500;
    text-shadow: 2px 2px black;
}

/*.card-img {*/
/*    height: 30vh;*/
/*    max-width: 100%;*/
/*}*/

.container-fluid {
    padding: 0;
}

.the-card-img {
    height: 70vh;
    width: 100%;
}

.tags-mobile-view {
    display: none;
}

.btn-mobile {
    display: none;
}

/*img hover effect*/

.card {
    width: 90%;
    overflow: hidden;
    position: relative;
    float: left;
}

.card img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  max-width: 100%;
  width: 100%;
  height: 30vh;
}

.card:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

/*---------------------------*/

/*home.html*/

#banner-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("../img/banner_img.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    max-width: 100%;
}

#banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/*recipes.html*/

#recipe-card {
    height: 150px;
}

/*add_recipes.html*/

/*MEDIA QUERIES*/

@media only screen and (max-width: 1024px) {
    #banner-text {
        width: 80%;
    }
    .lead {
        width: 85%;
        margin: auto;
        font-size: 1.5rem;
    }
    .card-img {
        height: 20vh;
    }
    .the-card-img {
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    #banner-text {
        width: 100%;
    }
    .card-img {
        height: 22vh;
    }
    .recipe-text {
        font-size: 1rem;
    }
    .btn-desktop {
        display: none;
    }
    .btn-mobile {
        display: block;
    }
    .recipe-col {
        padding-bottom: 15px;
    }
    li {
        display: none;
    }
    .tags-mobile-view {
        display: inline-block;
    }
    .recipe-icon-row {
        margin-top: 1rem!important;
    }
}

@media only screen and (max-width: 576px) {
    #banner-container {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1527997921830-de1cf1f9b430?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2023&q=80");
    }
    #banner-text {
        width: 90%;
    }
    .display-4 {
        font-size: 3rem;
        padding: 0 20px;
    }
    .lead {
        width: 90%;
        font-size: 1.2rem;
    }
    .card-img {
        height: 42vh;
    }
    .the-card-img {
        height: 40vh;
        width: 100%;
    }
    .recipe-text {
        text-align: left;
    }
}


@media only screen and (max-width: 375px) {
    .display-4 {
        font-size: 2.5rem;
    }
    .card-img {
        height: 40vh;
    }
}