<!--home page displaying image banner and search information-->
{% extends "base.html" %} {% block content %}
<div class="img-fluid" id="banner-container">
    <div class="text-center" id="banner-text">
        <h1 class="display-4 display-text">Create, source and have fun with recipes online</h1>
        <p class="lead display-text mt-5">Build and manage your favourite recipes by adding content and images</p>
        <a href="#section1"><i class="fas fa-chevron-down fa-3x mt-5"></i></a>
    </div>
</div>
<div id="section1">
    <div class="jumbotron mt-5 text-center bg-info text-white">
        <h2 class="font-weight-light">Welcome to Cook Book - we hope you enjoy cooking as much as we enjoy inspiring</h2>
    </div>
    <div class="container mt-5 p-5 bg-white text-center cont-display-effect">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img src="static/img/man_at_food_station.jpg" class="img-responsive rounded img-display top" alt="person standing at a cooking station">
            </div>
            <div class="col-lg-7">
                <h3>Need some recipe inspiration ? </h3>
                <form action="{{ url_for('post_search_food_type') }}" id="post_search_food_type" name="post_search_food_type" method="POST">
                    <div class="input-group mt-4 home-input">
                        <select class="form-control" id="post_search_food_type" name="post_search_food_type">
                        <option value="" selected disabled>Search for recipe food types here</option>
                            <option>Vegatables</option>
                            <option>Fruits</option>
                            <option>Grains</option>
                            <option>Beans</option>
                            <option>Meat</option>
                            <option>Poultry</option>
                            <option>Fish</option>
                            <option>Seafood</option>
                            <option>Dairy</option>
                            <option>Other</option>
                    </select>
                        <div class="input-group-append">
                            <!--desktop btn version-->
                            <button class="btn btn-outline-info d-none d-lg-block d-xl-block" type="submit">Find</button>
                            <!--mobile first btn version-->
                            <button class="btn btn-info d-none d-block d-sm-block d-md-block d-lg-none" type="submit">Find</button>
                        </div>
                    </div>
                </form>

                <form action="{{ url_for('post_search_food_cuisine') }}" id="post_search_food_cuisine" name="post_search_food_cuisine" method="POST">
                    <div class="input-group mt-4 home-input">
                        <select class="form-control" id="post_search_food_cuisine" name="post_search_food_cuisine">
                        <option value="" selected disabled>Search for recipe food cuisines here</option>
                            <option>Mexican</option>
                            <option>Italian</option>
                            <option>Indian</option>
                            <option>Cajun</option>
                            <option>Soul</option>
                            <option>Thai</option>
                            <option>Greek</option>
                            <option>Chinese</option>
                            <option>Lebanese</option>
                            <option>Japanese</option>
                            <option>American</option>
                            <option>Moroccan</option>
                            <option>Mediterranean</option>
                            <option>French</option>
                            <option>Spanish</option>
                            <option>German</option>
                            <option>Scandinavian</option>
                            <option>British</option>
                            <option>Irish</option>
                            <option>Korean</option>
                            <option>Vietnamese</option>
                            <option>Turkish</option>
                            <option>Caribbean</option>
                            <option>Vietnamese</option>
                            <option>Other</option>
                    </select>
                        <div class="input-group-append">
                            <!--desktop btn version-->
                            <button class="btn btn-outline-info d-none d-lg-block d-xl-block" type="submit">Find</button>
                            <!--mobile first btn version-->
                            <button class="btn btn-info d-block d-sm-block d-md-block d-lg-none" type="submit">Find</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container mt-5 p-5 bg-white text-center cont-display-effect">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <h3>Feeling inspired ! Want to share ? </h3>
                <!--desktop btn version-->
                <a href="{{ url_for('add_recipe')}}" class="btn btn-outline-info mt-5 d-none d-lg-block d-xl-block">Create Recipe</a>
                <!--mobile first btn version-->
                <a href="{{ url_for('add_recipe')}}" class="btn btn-info mt-5 d-block d-sm-block d-md-block d-lg-none">Create Recipe</a>
            </div>
            <div class="col-lg-5">
                <img src="static/img/man_preparing_food.jpg" class="img-responsive rounded img-display bottom" alt="person cooking at a food station">
            </div>
        </div>
    </div>
</div>
<!--<div class="container">-->
<!--    <img src="https://images.unsplash.com/pho" id="test-image">-->
<!--    <p id="img-response"></p>-->
<!--</div>-->

<div class="container">
    <img src="https://images.unsplash.com/pho" onerror="this.onerror=null;this.src='https://images.unsplash.com/photo-1571942389648-078c07e6a28f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80';">

</div>

{% endblock content %}
