{% extends "base.html" %} {% block content %}
<div class="img-fluid" id="banner-container">
    <div class="text-center" id="banner-text">
        <h1 class="display-4 display-text">Create, source and have fun with recipes online</h1>
        <p class="lead display-text mt-5">Build and manage your favourite recipes by adding content and images</p>
        <a href="#section1"><i class="fas fa-chevron-down fa-3x mt-5"></i></a>
    </div>
</div>
<div id="section1">
<div class="jumbotron mt-5 text-center bg-info text-white">
    <h2 class="font-weight-light">Welcome to Cook Book - we hope you enjoy cooking as much as we enjoy inspiring</h2>
</div>
<div class="container mt-5 p-5 bg-white text-center">
    <div class="row align-items-center">
        <div class="col-lg-5">
            <img src="https://images.unsplash.com/photo-1481669624812-c47721341026?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1013&q=80" class="img-responsive img-homepg top" alt="person standing at a cooking station">
        </div>
        <div class="col-lg-7">
            <h3>Need some recipe inspiration ? </h3>
            <form action="{{ url_for('post_search_food_type') }}" id="post_search_food_type" name="post_search_food_type" method="POST">
                <div class="input-group mt-4 home-input">
                    <select class="form-control" id="post_search_food_type" name="post_search_food_type">
                        <option value="" selected disabled>Search for recipe food types here</option>
                            <option>Vegatables</option>
                            <option>Fruits</option>
                            <option>Grains</option>
                            <option>Beans</option>
                            <option>Meat</option>
                            <option>Poultry</option>
                            <option>Fish</option>
                            <option>Seafood</option>
                            <option>Dairy</option>
                            <option>Other</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-outline-info" type="submit">Find</button>
                    </div>
                </div>
            </form>
            
            <form action="{{ url_for('post_search_food_cuisine') }}" id="post_search_food_cuisine" name="post_search_food_cuisine" method="POST">
                <div class="input-group mt-4 home-input">
                    <select class="form-control" id="post_search_food_cuisine" name="post_search_food_cuisine">
                        <option value="" selected disabled>Search for recipe food cuisines here</option>
                            <option>Mexican</option>
                            <option>Italian</option>
                            <option>Indian</option>
                            <option>Cajun</option>
                            <option>Soul</option>
                            <option>Thai</option>
                            <option>Greek</option>
                            <option>Chinese</option>
                            <option>Lebanese</option>
                            <option>Japanese</option>
                            <option>American</option>
                            <option>Moroccan</option>
                            <option>Mediterranean</option>
                            <option>French</option>
                            <option>Spanish</option>
                            <option>German</option>
                            <option>Scandinavian</option>
                            <option>British</option>
                            <option>Irish</option>
                            <option>Korean</option>
                            <option>Vietnamese</option>
                            <option>Turkish</option>
                            <option>Caribbean</option>
                            <option>Vietnamese</option>
                            <option>Other</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-outline-info" type="submit">Find</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container mt-5 p-5 bg-white text-center" id="search-nav">
    <div class="row align-items-center">
        <div class="col-lg-7">
            <h3>Feeling inspired ! Want to share ? </h3>
            <a href="{{ url_for('add_recipe')}}" class="btn btn-outline-info mt-3">Create Recipe</a>
        </div>
        <div class="col-lg-5">
            <img src="https://images.unsplash.com/photo-1482932973216-15c6808e8691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80" class="img-responsive img-homepg bottom" alt="person cooking at a food station">
        </div>
    </div>
</div>
</div>

{% endblock content %}
