{% extends "base.html" %} {% block content %}
<div class="img-fluid" id="banner-container">
    <div class="text-center" id="banner-text">
        <h1 class="display-4 display-text">Create, source and have fun with recipes online</h1>
        <p class="lead display-text mt-5">Build and manage your favourite recipes by adding content and images</p>
    </div>
</div>

<div class="container">
    <form method="POST" action="{{ url_for('search_food_type') }}">
        <div class="row">
            <div class="col-lg-4 mb-3">
                <div class="form-group">
                    <label for="tag_2">Food Type</label>
                    <select class="form-control" name="tag_2" id="tag_2" required>
                        <option value="" selected disabled>Please select</option>
                        <option>Vegatables</option>
                        <option>Fruits</option>
                        <option>Grains</option>
                        <option>Beans</option>
                        <option>Meat</option>
                        <option>Poultry</option>
                        <option>Fish</option>
                        <option>Seafood</option>
                        <option>Dairy</option>
                        <option>Other</option>
                    </select>
                </div>
            </div>

        </div>
        <button class="btn btn-outline-info mb-5" type="submit">CONFIRM UPDATE</button>
    </form>
</div>


{% endblock content %}
