<!--HTML page displaying recipe cards-->
{% extends "base.html" %} {% block content %}
<div class="container mt-5">
    <h1 class="display-4 pt-3 text-center">Recipe Collections</h1>
    <hr>
    <div class="row">
        {% for recipe in recipes %}
        <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
            <div class="text-center mt-5">
                {{recipe.tag_1.capitalize()}} | {{recipe.tag_2}} | {{recipe.tag_3}}
            </div>
            <a href="{{ url_for('the_recipe', recipe_id=recipe._id)}}">
                <div class="card mt-1" id="card-display">
                    {% if recipe.image %}
                    <img src="{{recipe.image}}" class="img-responsive card-img" alt="displayed url image from user"> {% else %}
                    <img src="https://images.unsplash.com/photo-1542010589005-d1eacc3918f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1969&q=80" class="img-responsive card-img" alt="image of a cook book"> {% endif %}
                    <div class="card-body" id="recipe-card">
                        <h5 class="card-title mt-4">{{ recipe.title.capitalize() }}</h5>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

