<!--html page for user search parameters-->
{% extends "base.html" %} {% block content %}
<div class="container mt-5">
    <h1 class="display-4 pt-3 text-center">Search Recipes</h1>
    <hr>
</div>
<div class="container mt-5 p-3 bg-white text-center cont-display-effect">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <img src="https://images.unsplash.com/photo-1543261207-45df64507ba0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=966&q=80" class="img-responsive rounded img-display top" alt="image of a selection of red meat">
        </div>
        <div class="col-lg-6">
            <h3 class="font-weight-light">Looking for meat, vegetarian or dairy dishes ? Start HERE ! </h3>
            <form action="{{ url_for('post_search_food_type') }}" id="post_search_food_type" name="post_search_food_type" method="POST">
                <div class="input-group mt-4 home-input">
                    <select class="form-control" id="post_search_food_type" name="post_search_food_type">
                        <option value="" selected disabled>Search for recipe food types here !</option>
                            <option>Vegatables</option>
                            <option>Fruits</option>
                            <option>Grains</option>
                            <option>Beans</option>
                            <option>Meat</option>
                            <option>Poultry</option>
                            <option>Fish</option>
                            <option>Seafood</option>
                            <option>Dairy</option>
                            <option>Other</option>
                    </select>
                    <div class="input-group-append">
                        <!--desktop btn version-->
                        <button class="btn btn-outline-info d-none d-lg-block d-xl-block" type="submit">Find</button>
                        <!--mobile first btn version-->
                        <button class="btn btn-info d-none d-block d-sm-block d-md-block d-lg-none" type="submit">Find</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container mt-5 p-3 bg-white text-center cont-display-effect">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <h3 class="font-weight-light">Fancy something Mexican, Turkish or Lebanese ? Start HERE ! </h3>
            <form action="{{ url_for('post_search_food_cuisine') }}" id="post_search_food_cuisine" name="post_search_food_cuisine" method="POST">
                <div class="input-group mt-4 home-input">
                    <select class="form-control" id="post_search_food_cuisine" name="post_search_food_cuisine">
                        <option value="" selected disabled>Search for recipe food cuisines here !</option>
                            <option>Mexican</option>
                            <option>Italian</option>
                            <option>Indian</option>
                            <option>Cajun</option>
                            <option>Soul</option>
                            <option>Thai</option>
                            <option>Greek</option>
                            <option>Chinese</option>
                            <option>Lebanese</option>
                            <option>Japanese</option>
                            <option>American</option>
                            <option>Moroccan</option>
                            <option>Mediterranean</option>
                            <option>French</option>
                            <option>Spanish</option>
                            <option>German</option>
                            <option>Scandinavian</option>
                            <option>British</option>
                            <option>Irish</option>
                            <option>Korean</option>
                            <option>Vietnamese</option>
                            <option>Turkish</option>
                            <option>Caribbean</option>
                            <option>Vietnamese</option>
                            <option>Other</option>
                    </select>
                    <div class="input-group-append">
                        <!--desktop btn version-->
                        <button class="btn btn-outline-info d-none d-lg-block d-xl-block" type="submit">Find</button>
                        <!--mobile first btn version-->
                        <button class="btn btn-info d-none d-block d-sm-block d-md-block d-lg-none" type="submit">Find</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6">
            <img src="https://images.unsplash.com/photo-1464219222984-216ebffaaf85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" class="img-responsive rounded img-display bottom" alt="image of mexican food dish">
        </div>
    </div>
</div>
<div class="container mt-5 p-3 bg-white text-center cont-display-effect">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <img src="https://images.unsplash.com/photo-1516534775068-ba3e7458af70?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" class="img-responsive rounded img-display top" alt="woman biting her pencil whilst looking at her computer">
        </div>
        <div class="col-lg-6">
            <h3 class="font-weight-light">Liked a recipe but can't find it ? Start HERE ! </h3>
            <form action="{{ url_for('post_search_title') }}" id="post_search_title" name="post_search_title" method="POST">
                <div class="input-group mt-4 input-home">
                    <input type="text" class="form-control" id="post_search_title" name="post_search_title" placeholder="Search for food recipe title here !">
                    <div class="input-group-append">
                        <!--desktop btn version-->
                        <button class="btn btn-outline-info d-none d-lg-block d-xl-block" type="submit">Find</button>
                        <!--mobile first btn version-->
                        <button class="btn btn-info d-none d-block d-sm-block d-md-block d-lg-none" type="submit">Find</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}