{% extends "base.html" %} {% block content %} {% for recipe in recipes %}
<div class="container-fluid bg-white text-center">
    <div class="row">
        <div class="col-lg-6">
            {% if recipe.image %}
            <img src="{{recipe.image}}" class="img-responsive the-card-img" alt="displayed url image from user"> {% else %}
            <img src="https://images.unsplash.com/photo-1542010589005-d1eacc3918f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1969&q=80" class="img-responsive the-card-img" alt="image of a cook book"> {% endif %}
        </div>
        <div class="col-lg-6">
            <h2 class="display-4 mt-5">{{ recipe.title.capitalize() }}</h2>
            <p class="ml-5 mr-5 mt-5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis </p>
            
            <!-- Mobile styling - add tags list closer to title -->
                <p class="text-center mr-2 tags-mobile-view">{{recipe.tag_1.upper()}}</p>
                <p class="text-center mr-2 tags-mobile-view">{{recipe.tag_2.upper()}}</p>
                <p class="text-center mr-2 tags-mobile-view">{{recipe.tag_3.upper()}}</p>
                
            <div class="row justify-content-center mt-5 recipe-icon-row">
                <div class="col-sm-12 col-lg-4 recipe-col">
                    <i class="far fa-clock fa-3x"></i>
                    <p class="lead mt-1">{{recipe.cook_time}} hrs</p>
                </div>
                <div class="col-sm-12 col-lg-4 recipe-col">
                    <i class="fas fa-utensils fa-3x"></i>
                    <p class="lead mt-1">{{recipe.serving}} ppl</p>
                </div>
                <div class="col-sm-12 col-lg-4 recipe-col">
                    <ul>
                        <li class="text-left">{{recipe.tag_1}}</li>
                        <li class="text-left">{{recipe.tag_2}}</li>
                        <li class="text-left">{{recipe.tag_3}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-center bg-white mt-5 pb-5">
    <div class="row justify-content-center pt-5">
        <div class="col-sm-12 col-lg-4">
            <h4>Ingredients</h4>
                
                <p class="lead mt-3 recipe-text">{{recipe.ing_1}}</p>
                <p class="lead mt-3 recipe-text">{{recipe.ing_2}}</p>
                <p class="lead mt-3 recipe-text">{{recipe.ing_3}}</p>
                <p class="lead mt-3 recipe-text">{{recipe.ing_4}}</p>
                <p class="lead mt-3 recipe-text">{{recipe.ing_5}}</p>
                
        </div>
        <div class="col-sm-12 col-lg-6">
            <h4>Method</h4>
            
            <p class="lead mt-3 recipe-text">{{recipe.method_1}}</p>
            <p class="lead mt-3 recipe-text">{{recipe.method_2}}</p>
            <p class="lead mt-3 recipe-text">{{recipe.method_3}}</p>
            <p class="lead mt-3 recipe-text">{{recipe.method_4}}</p>
            <p class="lead mt-3 recipe-text">{{recipe.method_5}}</p>
            
        </div>
    </div>
</div>
<div class="container text-center mt-5 mb-5 btn-desktop">
    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn btn-outline-success mr-2">EDIT</a>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-outline-danger mr-2" data-toggle="modal" data-target="#myModal">DELETE</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <!--<div class="modal-header">-->
                <!--    <button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <!--    <h4 class="modal-title">Modal Header</h4>-->
                <!--</div>-->
                <div class="modal-body"
                    <p>Deleting will permantly remove this recipe!</p>
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id)}}" class="btn btn-danger">YES, DELETE</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</div>
{% endfor %} {% endblock content %}